@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}
*:focus{
  outline: none !important;
}
/*======================= common css ==================================*/
img{
  max-width: 100%;
}
.container{
  display: block;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.two-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.three-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.four-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
h2.title{
  font-size: 65px;
  line-height: 1;
  text-transform: capitalize;
  -webkit-text-stroke: 1px #319be6;
  color: transparent;
  text-align: center;
  margin: 0 0 25px;
  letter-spacing: 2px;
}
/* ========================loader ============================= */
.loader{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.loader i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0px;
  background-image: linear-gradient(45deg, #387199 20%, #16c0f0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ========================cursor follower======================== */
.cursor-follower {
  position: fixed;
  border:1px solid red;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3,1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
/*======================= header ======================================*/
.header .sidebar .menu-icon{
  position: fixed;
  top: 15px;
  left: 100px;
  padding: 10px 0;
  z-index: 2;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999999;
  transition: 0.5s all;
}
.header .sidebar .menu-icon .bar{
  display: block;
  width: 28px;
  height: 2px;
  background-color: #319be6;
  transition: 0.5s all;
}
.header .sidebar .menu-icon .bar:first-child{
  width: 14px;
  margin-right: 14px;
}
.header .sidebar .menu-icon .bar:nth-child(2){
  margin: 6px 0;
}
.header .sidebar .menu-icon .bar:last-child{
  width: 14px;
  margin-left: 14px;
}
.header .sidebar.active .menu-icon{
  transform: rotate(-45deg);
}
.header .sidebar.active .menu-icon .bar:first-child,
.header .sidebar.active .menu-icon .bar:last-child{
  transform: rotate(-90deg) translateY(7px);
  margin-right: 0;
  margin-left: 0;
}
.sidebar .verticle-nav .menu-list {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  z-index: 99999;
  margin: auto;
  background-color: #000;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  padding: 85px 25px;
  list-style: none;
  transition: 0.5s all;
}
.sidebar.active .verticle-nav .menu-list {
  left: 0;
}
.sidebar.active .verticle-nav .menu-list li a{
  color: #319be6;
  text-decoration: none;
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 7px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  transition: 0.3s all;
  margin: 5px 0;
}
.sidebar.active .verticle-nav .menu-list li:hover a{
  color: #ccc;
}
/* ================================= hero ======================================== */
.hero{
  background-image: url('../images/s.jpg');
  background-position: revert;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 110vh;
  position: relative;
  z-index: 999;
}
.hero .overlay{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
}
.intro{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  z-index: 1;
}
.intro .sub-title{
  color: #c3c0c0;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
}
.intro .title-name{
  color: #eee;
  font-size: 85px;
  margin: 30px 0;
  text-transform: capitalize;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
}
.intro .profession-title{
  color: #c3c0c0;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 50px;
}
.intro .profession-title span{
  color: #319be6;
}
/* ================================= about ======================================== */
.about{
  padding: 60px 0;
  position: relative;
}
.about > svg{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transform: rotate(180deg) translateY(100%);
  z-index: 999;
}
.about > svg *{
  fill: #fff;
}
.about .tow-box-item:first-child{
  text-align: center;
}
.about-img img{
  max-width: 90%;
}
.about-detail{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.about-detail h6{
  color: #434343;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
}
.about-detail h4{
  display: inline-block;
  color: #fff;
  background-color: #319be6;
  padding: 10px;
  font-size: 32px;
  text-transform: uppercase;
  margin: 15px 0 30px;
  letter-spacing: 1.6px;
}
.about-detail h5{
  color: #000;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 15px;
}
.about-detail p{
  color: #8C8C8C;
  font-size: 15px;
  font-weight: bold;
}
a.contact-btn{
  display: inline-block;
  text-decoration: none;
  background-color: #319be6;
  color: #fff;
  padding: 20px 40px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  position: relative;
  z-index: 2;
}
a.contact-btn::before{
  content: "";
  background: linear-gradient(135deg, #16c0f0 0%, #319be6 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  transition: all .4s ease-in-out;
}
a.contact-btn:hover::before{
  transform: translate(-50%, -50%) scale(1);
}
.about-detail .full-detail{
  padding: 15px;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px #000;
}
.about-detail .full-detail p{
  position: relative;
  padding-left: 40px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.about-detail .full-detail p:first-child{
  margin-top: 0;
}
.about-detail .full-detail img{
  position: absolute;
  left: 0;
  transform: rotate(0deg) translateY(0);
}
/* ================================= service ======================================== */
.service{
  position: relative;
  padding: 140px 0 60px;
  background-color: #F7F7F7;
}
.service > svg{
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.service > svg *{
  fill: #fff;
}
.service .four-box{
  column-gap: 25px;
}
.service .service-box{
  text-align: center;
  background-color: #fff;
  padding: 50px 25px;
  cursor: pointer;
  transition: 0.5s all;
}
.service .service-box i{
  position: relative;
  font-size: 35px;
  color: #319be6;
  transition: 0.5s all;
  margin-bottom: 35px;
  z-index: 1;
}
.service .service-box i::after{
  content: "";
  position: absolute;
  height: 95px;
  width: 95px;
  background-color: #F7F7F7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 0;
  z-index: -1;
  transition: 0.5s all;
}
.service .service-box h6{
  margin: 10px 0;
  font-size: 20px;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 1.6px;
  font-weight: 600;
}
.service .service-box p{
  font-size: 16px;
  color: #434343;
  letter-spacing: 1.2px;
  font-weight: 400;
}
.service .service-box:hover{
  box-shadow: 0px 0px 15px #000; 
}
.service .service-box:hover i{
  transform: rotate(180deg);
  color: #fff;
}
.service .service-box:hover i::after{
  background-color: #319be6;
}
/*======================================= portfolio========================================== */
.portfolio{
  padding: 140px 0 60px;
  position: relative;
}
.portfolio > svg{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.portfolio > svg *{
  fill: #F7F7F7;
}
.portfolio .three-box{
  column-gap: 15px;
}
.portfolio .gallary-box{
  position: relative;
  height: 250px;
  cursor: pointer;
}
.portfolio .gallary-box::after{
  position: absolute;
  content: "";
  height: 98%;
  width: 98%;
  background-color: rgba(255, 255, 255,0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 5px;
  transition: 0.5s all;
}
.portfolio .gallary-box p{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 700;
  color: #000;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  z-index: 9999;
  opacity: 0;
  transition: 0.5s all;
}
.portfolio .gallary-box:hover::after{
  transform: translate(-50%, -50%) scale(1);
}
.portfolio .gallary-box:hover p{
  opacity: 1;
}
.portfolio .gallary-box img{
  display: block;
  height: 100%;
  border-radius: 5px;
}
/*======================================= contact ========================================== */
.contact{
  position: relative;
  padding: 140px 0 60px;
}
.contact .two-box{
  column-gap: 20px;
}
.contact > svg{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.contact > svg *{
  fill: #f7f7f7;
}
.contact .contact-detail{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
}
.contact .contact-detail h6{
  font-size: 14px;
  color: #319be6;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}
.contact .contact-detail p{
  font-size: 16px;
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact .contact-detail p:last-child{
  margin-bottom: 0;
}
#map {
  height: 400px;
  width: 100%;
}
/* ====================================== footer =========================================== */
.footer{
  padding: 140px 0 60px;
  position: relative;
  text-align: center;
  background-color: #F7F7F7;
}
.footer > svg{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.footer > svg *{
  fill: #fff;
}
.footer h2{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  background-image: linear-gradient(45deg, #387199 20%, #16c0f0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 25px;
}
.footer a{
  text-decoration: none;
}
.footer a:hover i{
  color: #16c0f0;
}
.footer i{
  position: relative;
  font-size: 30px;
  color: #fff;
  margin: 0 25px;
  transition: 0.3s all;
  z-index: 1;
}
.footer i::after{
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background-color: rgba(0,0,0,0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
/* ==================================== testimonial ================================== */
.testimonial{
  padding: 140px 0 60px;
  position: relative;
  background-color: #F7F7F7;
}
.testimonial > svg{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.testimonial > svg *{
  fill: #fff;
}
.testimonial .testimonial-box div{
  text-align: center;
}
.testimonial .testimonial-box div p{
  font-size: 16px;
  color: #434343;
  letter-spacing: 1.6px;
  font-weight: 400;
  margin-bottom: 15px;
}
.testimonial .testimonial-box div h2{
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-top: 15px;
}
.testimonial .testimonial-box div img{
  border-radius: 50%;
  display: inline-block;
}
.testimonial ul.slick-dots{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.testimonial ul.slick-dots li button{
  background-color: #319be6;
  color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  cursor: pointer;
}
.testimonial ul.slick-dots li.slick-active button{
  border-color: black;
}
/* ============================== technologies ===================================== */
.technologies{
  background-color: #f7f7f7;
  position: relative;
  padding: 140px 0 60px;
  text-align: center;
}
.technologies > svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.technologies > svg *{
  fill: #fff;
}
.techno{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.techno li{
  margin: 0 60px;
}
.techno li i{
  font-size: 100px;
  transition: .3s all;
  cursor: pointer;
}
.techno li i.fa-shopify:hover{
  color:#96BF48;
}
.techno li i.fa-html5:hover{
  color:#e34c26;
}
.techno li i.fa-css3-alt:hover{
  color:#264de4;
}
.techno li i.fa-react:hover{
  color:#61DBFB;
}
.techno li i.fa-js:hover{
  color:#f0db4f;
}
.techno li i.fa-sass:hover{
  color:#c69;
}
.techno li i.fa-bootstrap:hover{
  color:#563d7c;
}
.techno li i.fa-python:hover{
  background: linear-gradient(180deg, #4B8BBE 50%, #FFD43B 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* =========================================== Numbers ========================================= */
.numbers{
  padding: 140px 0 60px;
  position: relative;
  text-align: center;
}
.numbers > svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100;
}
.numbers > svg > *{
  fill: #F7F7F7;
}
.number-box {
  display: inline-block;
  margin: 0 25px;
}
.number-box h2{
  font-size: 50px;
  color: #434343;
  font-weight: 700;
  letter-spacing: 1.6px;
}
.number-box p{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2;
  text-transform: capitalize;
  color: #319be6;
}